/*------------------------------- CSS DES BOUTONS POUR LA PARTIE DESKTOP -------------------------*/
/*------------------------------- CSS DES BOUTONS POUR LA PARTIE DESKTOP -------------------------*/
/*------------------------------- CSS DES BOUTONS POUR LA PARTIE DESKTOP -------------------------*/
/* BOUTTON ORANGE */
.button {
    width: 145px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #ffa409;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}


.button:hover {
    background-color: #ffa409;
    box-shadow: 0px 15px 20px rgba(255,164,9, 0.4);
    color: #fff;
    transform: translateY(-2px);
}

/* BOUTTON b-BLEUE */
.button-blue {
    width: 145px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color:#5B94BC;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-blue:hover {
    background-color: #5B94BC;
    box-shadow: 0px 15px 20px rgba(91, 148, 188, 0.4);
    color: #fff;
    transform: translateY(-2px);
}

/* BOUTTON VERTE */
.button-green {
    width: 145px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color:#2eb82e;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-green:hover {
    background-color: #2eb82e;
    box-shadow: 0px 15px 20px rgba(46, 184, 46, 0.4);
    color: #fff;
    transform: translateY(-2px);
}

/* BOUTTON ROUGE */
.button-red {
    width: 145px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color:red;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-red:hover {
    background-color: red;
    box-shadow: 0px 15px 20px rgba(255, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-2px);
}
/*------------------------------- CSS DES BOUTONS POUR LA PARTIE MOBILE -------------------------*/
/*------------------------------- CSS DES BOUTONS POUR LA PARTIE MOBILE -------------------------*/
/*------------------------------- CSS DES BOUTONS POUR LA PARTIE MOBILE -------------------------*/
/* BOUTTON ORANGE */
.button-mobile {
    width: 110px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #ffa409;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}


.button-mobile:hover {
    background-color: #ffa409;
    box-shadow: 0px 15px 20px rgba(255,164,9, 0.4);
    color: #fff;
    transform: translateY(-2px);
}

/* BOUTTON BLEUE */
.button-mobile-blue {
    width: 110px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color:#5B94BC;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-mobile-blue:hover {
    background-color: #5B94BC;
    box-shadow: 0px 15px 20px rgba(91, 148, 188, 0.4);
    color: #fff;
    transform: translateY(-2px);
}

/* BOUTTON VERTE */
.button-mobile-green {
    width: 110px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color:#2eb82e;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-mobile-green:hover {
    background-color: #2eb82e;
    box-shadow: 0px 15px 20px rgba(46, 184, 46, 0.4);
    color: #fff;
    transform: translateY(-2px);
}

/* BOUTTON ROUGE */
.button-mobile-red {
    width: 110px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color:red;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-mobile-red:hover {
    background-color: red;
    box-shadow: 0px 15px 20px rgba(255, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-2px);
}
